{%- doc -%}
  Renders block content for all blocks that extend the group block.

  @param {string} children - The DOM content of the group block.
  @param {object} settings - The settings of the group block.
  @param {string} shopify_attributes - String with Shopify attributes for the editor.
  @param {string} [class] - Custom classes for the group block.
  @param {string} [style] - Custom inline styles for the group block.

  @example
  {% render 'group', children: children, settings: block.settings, shopify_attributes: block.shopify_attributes %}
{%- enddoc -%}

{% liquid
  assign custom_class = settings.custom_class_name | strip
  assign has_mobile_padding = settings.custom_mobile_padding
  assign has_mobile_gap = settings.enable_mobile_gap
  assign has_mobile_border_radius = settings.custom_mobile_border_radius
%}

<div
  class="
    group-block
    group-block--height-{{ settings.height }}
    group-block--width-{{ settings.width }}
    border-style
    spacing-style
    size-style
    {% if settings.inherit_color_scheme == false %} color-{{ settings.color_scheme }}{% endif %}
    {% if has_mobile_padding %} group-block--custom-mobile-padding{% endif %}
    {% if has_mobile_gap %} group-block--custom-mobile-gap{% endif %}
    {% if has_mobile_border_radius %} group-block--custom-mobile-border-radius{% endif %}
    {{ class }}
    {{ custom_class }}
  "
  style="
    {% render 'border-override', settings: settings %}
    {% render 'spacing-style', settings: settings %}
    {% render 'size-style', settings: settings %}
    {% if has_mobile_padding %}
      --padding-block-start-mobile: {{ settings.padding-block-start-mobile }}px;
      --padding-block-end-mobile: {{ settings.padding-block-end-mobile }}px;
      --padding-inline-start-mobile: {{ settings.padding-inline-start-mobile }}px;
      --padding-inline-end-mobile: {{ settings.padding-inline-end-mobile }}px;
    {% endif %}
    {% if has_mobile_gap %}
      --gap-mobile: {{ settings.gap_mobile }}px;
    {% endif %}
    {% if has_mobile_border_radius %}
      --border-radius-mobile: {{ settings.border_radius_mobile }}px;
    {% endif %}
    {{ style }}
  "
  {% if settings.enable_aos_animation %}
    data-aos="{{ settings.aos_animation_type }}"
    data-aos-delay="{{ settings.aos_animation_delay }}"
  {% endif %}
  {{ shopify_attributes }}
  data-testid="group-block"
>
  {%- if settings.link != blank -%}
    <a
      href="{{ settings.link }}"
      class="group-block__link"
      {% if settings.open_in_new_tab %}
        target="_blank" rel="noopener"
      {% endif %}
    ></a>
  {%- endif -%}

  <div class="group-block__media-wrapper">
    {% render 'background-media',
      background_media: settings.background_media,
      background_video: settings.video,
      background_video_position: settings.video_position,
      background_image: settings.background_image,
      background_image_position: settings.background_image_position,
      background_image_mobile: settings.background_image_mobile,
      background_image_position_mobile: settings.background_image_position_mobile,
      enable_mobile_image: settings.enable_mobile_image,
      placeholder: settings.placeholder
    %}
    {% if settings.toggle_overlay %}
      {% render 'overlay', settings: settings, layer: '0' %}
    {% endif %}
  </div>

  <div
    class="
      group-block-content
      {% if request.design_mode %}group-block-content--design-mode{% endif %}
      layout-panel-flex
      layout-panel-flex--{{ settings.content_direction | default: 'column' }}
      {% if settings.vertical_on_mobile %} mobile-column{% endif %}
    "
    style="{% render 'layout-panel-style', settings: settings %}"
  >
    {{- children -}}
  </div>
</div>

{% stylesheet %}
  .group-block__link {
    position: absolute;
    inset: 0;
  }

  .group-block__link ~ :is(.group-block-content, .group-block__media-wrapper) {
    pointer-events: none;

    :is(a, button, input, textarea, select) {
      pointer-events: auto;
    }
  }

  /* Needs the .group-block__link ~ to be specific enough to take effect. */
  .group-block__link ~ .group-block-content--design-mode {
    pointer-events: auto;
  }

  /* 移动端自定义样式 */
  @media screen and (max-width: 749px) {
    .group-block--custom-mobile-padding.spacing-style {
      padding-block-start: var(--padding-block-start-mobile) !important;
      padding-block-end: var(--padding-block-end-mobile) !important;
      padding-inline-start: var(--padding-inline-start-mobile) !important;
      padding-inline-end: var(--padding-inline-end-mobile) !important;
    }

    .group-block--custom-mobile-gap .group-block-content {
      gap: var(--gap-mobile) !important;
    }

    .group-block--custom-mobile-border-radius.border-style {
      border-radius: var(--border-radius-mobile) !important;
    }
  }
{% endstylesheet %}
