{% liquid
  assign block_settings = block.settings
  assign ratio = 1
  assign ratio_mobile = null

  case block_settings.image_ratio
    when 'landscape'
      assign ratio = '16 / 9'
    when 'portrait'
      assign ratio = '4 / 5'
    when 'square'
      assign ratio = '1 / 1'
    when 'adapt'
      assign ratio = block_settings.image.aspect_ratio
  endcase

  case block_settings.image_ratio_mobile
    when 'landscape'
      assign ratio_mobile = '16 / 9'
    when 'portrait'
      assign ratio_mobile = '4 / 5'
    when 'square'
      assign ratio_mobile = '1 / 1'
    when 'adapt'
      assign ratio_mobile = block_settings.image.aspect_ratio
  endcase

  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  if ratio_mobile == 0 or ratio_mobile == null
    assign ratio_mobile = ratio
  endif
%}

{% liquid
  assign has_mobile_border_radius = block_settings.custom_mobile_border_radius
  assign image_class = 'image-block__image border-style'
  if has_mobile_border_radius
    assign image_class = image_class | append: ' image-block__image--custom-mobile-border-radius'
  endif

  assign placeholder_class = 'placeholder-image border-style size-style'
  if has_mobile_border_radius
    assign placeholder_class = placeholder_class | append: ' placeholder-image--custom-mobile-border-radius'
  endif
%}

{% capture class %}
  image-block image-block--{{ block.id }} image-block--height-{{ block_settings.height }} spacing-style size-style
{% endcapture %}

{% capture style %}
  --ratio: {{ ratio }};
  {% if ratio_mobile %}
    --ratio-mobile: {{ ratio_mobile }};
  {% endif %}
  {% render 'size-style', settings: block_settings %}
  {% render 'spacing-style', settings: block_settings %}
{% endcapture %}

{% capture image_border_style %}
  --ratio: {{ ratio }};
  {% if ratio_mobile %}
    --ratio-mobile: {{ ratio_mobile }};
  {% endif %}
  {% render 'border-override', settings: block_settings %}
  {% if has_mobile_border_radius %}
    --border-radius-mobile: {{ block_settings.border_radius_mobile }}px;
  {% endif %}
{% endcapture %}

{% liquid
  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '240, 352, 832, 1200, 1600, 1920, 2560, 3840'
%}

{% capture image %}
  {%- if block_settings.image -%}
    {{
      block_settings.image
      | image_url: width: 3840
      | image_tag:
        width: block_settings.image.width,
        widths: widths,
        height: block_settings.image.height,
        class: image_class,
        style: image_border_style,
        sizes: sizes
    }}
  {%- else -%}
    <div class="{{ placeholder_class }}" style="{{ image_border_style }}">
      {{ 'detailed-apparel-1' | placeholder_svg_tag: 'hero__image' }}
    </div>
  {%- endif -%}
{% endcapture %}

{% if block_settings.link == blank %}
  <div
    class="{{ class }}"
    style="{{ style }}"
    {{ block.shopify_attributes }}
  >
    {{ image }}
  </div>
{% else %}
  <a
    href="{{ block_settings.link }}"
    class="{{ class }}"
    style="{{ style }}"
    {{ block.shopify_attributes }}
  >
    {{ image }}
  </a>
{% endif %}

{% stylesheet %}
  .placeholder-image {
    position: relative;
    aspect-ratio: var(--ratio);
    overflow: hidden;
  }

  placeholder-image img {
    width: 100%;
    height: 100%;
    aspect-ratio: var(--ratio);
  }

  .image-block {
    display: flex;

    /* When the image is nested in a group, section, etc, respect the parent's horizontal alignment */
    justify-content: var(--horizontal-alignment, 'inline-start');
  }

  .image-block--height-fill .image-block__image {
    height: 100%;
  }

  .image-block__image {
    object-fit: cover;
    aspect-ratio: var(--ratio);
  }

  /* 移动端自定义样式 */
  @media screen and (max-width: 749px) {
    .placeholder-image {
      aspect-ratio: var(--ratio-mobile, var(--ratio));
    }

    .image-block__image {
      aspect-ratio: var(--ratio-mobile, var(--ratio));
    }

    .image-block__image--custom-mobile-border-radius.border-style {
      border-radius: var(--border-radius-mobile, var(--border-radius)) !important;
    }

    .placeholder-image--custom-mobile-border-radius.border-style {
      border-radius: var(--border-radius-mobile, var(--border-radius)) !important;
    }

    .image-block.spacing-style {
      padding-block-start: var(--padding-block-start-mobile, var(--padding-block-start));
      padding-block-end: var(--padding-block-end-mobile, var(--padding-block-end));
      padding-inline-start: var(--padding-inline-start-mobile, var(--padding-inline-start));
      padding-inline-end: var(--padding-inline-end-mobile, var(--padding-inline-end));
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.auto"
        },
        {
          "value": "portrait",
          "label": "t:options.portrait"
        },
        {
          "value": "square",
          "label": "t:options.square"
        },
        {
          "value": "landscape",
          "label": "t:options.landscape"
        }
      ],
      "default": "adapt",
      "label": "t:settings.aspect_ratio"
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "移动端纵横比",
      "options": [
        {
          "value": "",
          "label": "与桌面相同"
        },
        {
          "value": "adapt",
          "label": "t:options.auto"
        },
        {
          "value": "portrait",
          "label": "t:options.portrait"
        },
        {
          "value": "square",
          "label": "t:options.square"
        },
        {
          "value": "landscape",
          "label": "t:options.landscape"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fit",
      "visible_if": "{{ block.settings.image_ratio == 'adapt' }}"
    },
    {
      "type": "header",
      "content": "t:content.borders"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_border_radius",
      "label": "自定义移动端圆角半径",
      "default": false
    },
    {
      "type": "range",
      "id": "border_radius_mobile",
      "label": "移动端圆角半径",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_border_radius == true }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "移动端填充"
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_padding",
      "label": "自定义移动端填充",
      "default": false
    },
    {
      "type": "range",
      "id": "padding-block-start-mobile",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "padding-block-end-mobile",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "padding-inline-start-mobile",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    },
    {
      "type": "range",
      "id": "padding-inline-end-mobile",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ block.settings.custom_mobile_padding == true }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.image",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
